.user-profile {
    border: 1px solid #ccc;
    padding: 0;
    margin-bottom: 20px;
}

.avatar {
    border: 1px solid gray;
    display: block;
    max-width: 100%;
    float: left;
    margin-right: 6px;
}

.profile {
    height: 90px;
}

.profile-pic {
    height: 90px;
    min-width: 90px;
}

.website,
.instagram {
    display: block;
}